.eventsContainer {
    margin-left: 5%;
    h1 {
        text-align: center;
        font-size: 40pt;
    }
    .eventsTableList {
        overflow-y: scroll;
        font-size: 16pt;
        width: 100%;
        height: 475px;
    }
    .btn-primary {
        margin-top: 20px;
    }
}
