.eventsContainer {
  margin-left: 5%;
  h1 {
    text-align: center;
    font-size: 32pt;
  }
  .eventsTableList {
    overflow-y: scroll;
    font-size: 16pt;
    width: 100%;
    height: 460px;
    border-bottom: 3px solid rgba(255,255,255,0.3);
    border-top: 3px solid rgba(255,255,255,0.3);
  }
  .btn-primary {
    margin-top: 20px;
  }
}
