<h2>Add New Event</h2>
<div class="row">
  <div class="col-md-6">
    <form novalidate name="AddNewForm" id="add-new-form" method="post" action="" />
      <div class="form-group">
        <label for="eventName">Event Name:</label>
        <input class="form-control" type="text" ng-model="event.eventName" required />
      </div>
      <div class="form-group">
        <label for="eventLocation">Location:</label>
        <input class="form-control" type="text" ng-model="event.eventLocation" required />
      </div>
      <div class="form-group">
        <label for="eventDetails">Date:</label>
        <input class="form-control" type="text" ng-model="event.eventDetails" />
      </div>
      <div class="form-group">
        <label for="salesAgentId">Your Agent ID:</label>
        <input class="form-control" type="text" ng-model="event.salesAgentId" value="{{event.salesAgentId}}" />
      </div>
      <button class="btn btn-primary" ng-disabled="AddNewForm.$invalid || isUnchanged(event)" id="add-new-btn" ng-click="add_new(event)">Save!</button>
      <a href="#/events" class="btn">Cancel</a>
    </form>
  </div>
</div>